body {
  background-image: url(../img/Assassin.jpg);
  background-size: cover;
  
}
.imgs {
  height: 0px;
  width: 100%;
}
.containe {
  font-family: sans-serif;
  color: silver;
  font-size: 20px;
}
.rules {
  margin-left: 30px;
  margin-bottom: 40px;
  height: 100px;
}


.logo {
  padding-top: 40px;
  margin-left: 50px;
}
.list {
  font-family: cursive;
  color: #82100B;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 30px;
}
.form-control {
  background-color: rgba(100, 100, 100, 0.5);
  margin-top: 50px
}

.btnbtn {
  background-color: #474545;
  width: 20%;
  margin-left: 480px;
}
.well {
  background-color: rgba(100, 100, 100, 0.5);
  width: 100%;
}
#click {
  background-color: rgba(100, 100, 100, 0.0);
  padding-top: 0px;
  border-color: rgba(100, 100, 100, 0.0);
  border-width: thin;
  margin-left: 400px;
  margin-bottom: 170px;
}
#owner {
  margin-left: 150px;
  margin-top: 40px;
}
#owner:hover {
  font-size: 20px;
  font-variant: small-caps;
}
.play {
  font-family: cursive;
  color: #82100B;

  font-size: 30px;
}
